.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman';
    min-height: 75vh;
}

.h2{
    text-align: center;
}

label{
    text-align: center;
    margin-right: 5px;
    display:block;
}

input{
    margin-bottom: 10px;
    margin-top: 10px;
    display:block;
    text-align: center;
}