.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman';
    min-height: 80vh;
}

.h2{
    text-align: center;
}

label{
    text-align: center;
    margin-right: 5px;
    display:block;
}

input{
    margin-bottom: 10px;
    margin-top: 10px;
    display:block;
    text-align: center;
}

input[type="date"]{
    text-align: center;
    font-family: 'Times New Roman';
    width: 161.333px;
    height: 15.333;
    padding-top: 1;
    padding-bottom: 1;
    padding-left: 2;
    padding-right: 2;
}

input[type="text"]{
    text-align: center;
    font-family: 'Times New Roman';
}

.buttonsDetails{
    width: 161.333px;
    height: 15.333;
}